body{
    background: url('D:/OneDrive - MSFT/Personal/Work/Sleep Disorder Prediction/sleeping-disorder.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}